<!--The content below is only a placeholder and can be replaced.-->

<div class="jumbotron">
        <h1 style="text-align: center">My Profile</h1>
</div>






<div class="container" style="margin-top:30px">
        <div class="row">
          <div class="col-sm-4" style="background-color: #f0f0f0">
            <div style="padding-left: 20px; padding-top: 10px">
            
            <img src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/user-male-circle-blue-512.png" class="rounded-circle" alt="Cinque Terre" width="150" height="150"> 
            
                             
            <h6>Hello,</h6>
                <div>{{this.sessvar}}</div>
    
            <hr>
            <h5>My Stuff</h5>
            <div class="btn-group-vertical">  
                <button id="b1" (click)='userinfo()' class="btn btn-primary">Personnel Details</button>
                   <button id="b2" (click)='favBooks()' class="btn btn-primary"   >List Favorite Books</button>
                    
            </div>
            </div>
        </div>
            
            <hr class="d-sm-none">
          
            <div class="col-sm-8">

                    <div *ngIf="info" id="t1">
                        <div >
                        <h1>Personnel Information: </h1>
                        <div class="table-responsive" *ngFor="let b of userdata">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-light">
                                    <tr>
                                        
                                        <th>User Name:</th>
                                        <th>User Email:</th>
                                        <th>User Contact:</th>
                                        
                                    </tr>
                                        
                                    </thead>
                                    <tr >
                                        <td>{{b.name}}</td>
                                        <td>{{b.email}}</td>
                                        <td>{{b.contactno}}</td>

                                    </tr>
                                </table>
                        </div>
           </div>

                    </div>



                    <div *ngIf='lstflag' class="table-responsive" id="t2">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                <tr>
                                    
                                    <th>Book Name</th>
                                    <th>Author</th>
                                    <th>Publisher</th>
                                    <th>Category</th>
                                </tr>
                                    
                                </thead>
                                <tr *ngFor='let b of favbooks'>
                                    <td>{{b.bookname}}</td>
                                    <td>{{b.bookauthor}}</td>
                                    <td>{{b.bookpublisher}}</td>
                                    <td>{{b.bookcategory}}</td>
                                    
                                </tr>
                            </table>
                    </div>
       
             </div>
    </div>

</div>
      

      
      
          