<div class="container">
  <br>
  <br>
  <!--Genre-->
  <span class="badge badge-info">Genre</span>
  <br>
  <br>
  <br>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <img src="/assets/images/create-section1.jpg" class="img-fluid mb-3 rounded-circle" alt="Book Image">
          </div>
          <div class="col-md-8">
            <h1>Alice In Wonderland</h1>
            <br>
            <h4>By <strong>T.T Sutherland</strong></h4>
            <hr>
            <br>
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h6><strong>Publisher : </strong> Puffin Books</h6>
                  <h6><strong>ISBN No. : </strong>1234567</h6>
                  <h6><strong>Number of Pages : </strong> 156</h6>
                </div>
                <div class="col-md-6">
                    <h6><strong>Book</strong> Available</h6>
                    <button type="button" class="btn btn-success">Add to Queue</button>
                    <br>
                    <button type="button" class="btn btn-warning">Add to Favourite</button>
                </div>
              </div>
            </div>
            <hr>
           <div class="container">
            <div class="row">
              <div class="col-md-4">
                  <button (click)="showDescripiton()" type="button" class="btn btn-secondary">Description</button>
              </div>
              <div class="col-md-4">
                  <button (click)="showAuthor()" type="button" class="btn btn-secondary">About Author</button>
              </div>
              <div class="col-md-4">
                  <button (click)="showReview()" type="button" class="btn btn-secondary">Reviews</button>
              </div>
            </div>
            <!--Card-->
            <div class="card" [hidden]="!description">
                <div class="card-body">
                    From Walt Disney Pictures and visionary director Tim Burton comes a magical re-imagining of one of the most beloved stories of all time. Mia Wasikowska stars as 19-year-old Alice, who returns to the whimsical world she first encountered as a young girl, reuniting with her childhood friends: the White Rabbit, Tweedledee and Tweedledum, the Dormouse, the Caterpillar, the Cheshire Cat, and of course, the Mad Hatter.
                </div>
              </div>
              <div class="card" [hidden]="!author">
                  <div class="card-body">
                      Tui T. Sutherland, also known as T. T. Sutherland is a Venezuelan-American children's book author who has also written under the pen name Heather Williams.
                  </div>
                </div>
                <div class="card" [hidden]="!review">
                    <div class="card-body">
                    No Reviews Yet!!!
                    </div>
                </div>
           </div>
          </div>
        </div>
       
  </div>
 
</div>
