<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">Logo</a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink = "/login">Login</a>
      </li>
      <li class="nav-item">
          <a routerLink = "/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a routerLink = "/advancesearch">Advance Search</a>
    </li>
    <li class="nav-item">
            <a routerLink = "/bk">Book Details</a>
    </li>
    </ul>
  </nav>
  

<div class = "container-fluid">
<router-outlet></router-outlet>

</div>
